
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

    <title>Nova senha</title>
  </head>
  <body>
  
  <div class="d-lg-flex half">
    <img class="bg order-1 order-md-2" src="{% static 'images/banner-bg.png' %}" alt="{% static 'images/banner-bg.png' %}">
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Nova <strong>senha</strong></h3>
            <p class="mb-4">Digite a sua nova senha abaixo.</p>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Load message -->
                    {% include 'includes/alerts.html' %}
                </div>
            </div>

            <form action="{% url 'reset_password' %}" method="post"> {% csrf_token %}
                <div class="form-group first">
                    <label for="password">Nova senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Digite aqui a nova senha" id="password">
                </div>
                <div class="form-group last mb-3">
                    <label for="confirm_password">Repetir nova senha</label>
                    <input type="password" class="form-control" name="confirm_password" placeholder="repetir nova senha" id="confirm_password">
                </div>
                
                <button type="submit" value="Log In" class="btn btn-block btn-primary">Alterar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    
    <script src="{% static 'login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'login/js/popper.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
    <script src="j{% static 'login/s/main.js' %}"></script>
  </body>
</html>