{% extends 'base.html' %}

{% load static %}

{% load bootstrap_tags %}
{% load widget_tweaks %}


{% block head-js %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/admin.mask.js' %}"></script>
<script src="{% static 'js/inline_form/jquery.formset.js' %}"></script>
<script src="{% static 'js/inline_form/jquery-ui.js' %}"></script>
{% endblock head-js %}

{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <form  class="row" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'images/not-image.gif' %}{% endif %}">
                <span class="font-weight-bold">{{ request.user.name }}</span><span class="text-black-50">{{ request.user.email }}</span><span> </span>
            </div>
        </div>  
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informações do perfil</h4>
                </div>

                <div class="row mt-0">
                    {{form|as_bootstrap}}
                    {{form_profile|as_bootstrap}}
                    
                    {% render_field form.id  %}
                    {% render_field form_profile.id  %}

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Editar contatos</span>
                    <button class="btn btn-primary profile-button" type="submit">Salvar Perfil</button>
                </div>
                <br>
                <div class="col-md-12">
                    {{ contatct_form_set.id }}

                    {% for formset in contatct_form_set %}
                        <div class="row mb-3">
                            <hr class="text-primary">
                            <div class="ContatcForm col-sm-12">
                                {% render_field formset.id  %}
                                {% render_field formset.contact class="form-control mb-2"  placeholder="Número" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </form>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
    $(function() {
        $('.ContatcForm').formset({
            prefix: '{{ contatct_form_set.prefix }}',
            addText: 'Novo Contato',
            hideLastAddForm: false,
            deleteText: 'Remover',
        });
    })
</script>

<script src="{% static 'js/inline_form/jquery.formset.js' %}"></script>

{% endblock js %}