{% extends 'base.html' %}

{% load static %}

{% load bootstrap_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile/buttons.css' %}">
{% endblock head %}


{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <form  class="row" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'images/not-image.gif' %}{% endif %}">
                <span class="font-weight-bold">{{ request.user.name }}</span><span class="text-black-50">{{ request.user.email }}</span><span> </span>
            </div>
        </div>  
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informações do perfil</h4>
                </div>
                <div class="row mt-0">

                    {{ contatct_form_set.management_form }}
                    
                    {{form|as_bootstrap}}
                    {{form_profile|as_bootstrap}}
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Editar contatos</span>
                    <button class="btn btn-primary profile-button" type="submit">Salvar Perfil</button>
                </div>
                <br>
                <div class="col-md-12">

                    {% for formset in contatct_form_set %}
                        <div class="row ">
                            <div class="ContatcForm col-sm-12 mb-0">
                                <hr class="text-warning">
                                {{formset|as_bootstrap}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </form>
</div>


{% endblock body %}

{% block js %}

<script type="text/javascript">
    $(function() {
        $('.ContatcForm').formset({
            prefix: '{{ contatct_form_set.prefix }}',
            addText: '+',
            hideLastAddForm: true,
            deleteText: 'X',
        });
    })
</script>

<script src="{% static 'js/inline_form/jquery.formset.js' %}"></script>

{% endblock js %}