{% extends 'base.html' %}

{% load static %}

{% block body %}

<style>
    .electronic_img{
       max-height: 300px;
    }
    .btn_main{
       margin-top: -150px;
    }
 </style>
 
 <!-- Home section start -->
 <div class="fashion_section pt-3" style="background-color: white;">
    <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <h1 class="fashion_taital">Produtos</h1>
                <div id="fashion_section_2" class="fashion_section_2">
                   <div class="row">
                      {% for product in product_filter.qs %}
                         <div class="col-lg-3 col-sm-3">
                            <div  class="box_main">
                                  <h4 class="shirt_text">{{ product.product_title }}</h4>
                                  {% if product.image_product %}
                                    <div class="electronic_img">
                                       <a href="#" data-bs-toggle="modal" data-bs-target="#modal-product-{{product.id}}">
                                          <img src="{{ product.image_product.url }}">
                                       </a>
                                    </div>
                                  {% else %}
                                    <div class="electronic_img">
                                       <a href="#" data-bs-toggle="modal" data-bs-target="#modal-product-{{product.id}}">
                                          <img src="{% static 'images/not-image.gif' %}">
                                       </a>
                                    </div>
                                  {% endif %}
                                     <div class="btn_main">
                                     {% if request.user.is_authenticated %}
                                        <div class="buy_bt"><a href="{% url 'get_product_vendors' product.id %}">Forncedores</a></div>
                                        {% if request.user.is_superuser and request.user.role == user_suppliers_access or adm_sistem_access %}
                                              <div class="seemore_bt">
                                                 <buttom hx-get="{% url 'delete_product' product.pk %}" class="btn btn-danger btn-sm"
                                                  data-bs-toggle="modal" data-bs-target="#modal-delete">Deletar</buttom>
 
                                                 <buttom data-bs-toggle="modal" data-bs-target="#modal-product-edit-{{product.id}}" class="btn btn-primary btn-sm"
                                                  >Editar</buttom>
                                              </div>
                                        {% endif %}
                                     {% else %}
                                     <div class="buy_bt"><a href="{% url 'login' %}">Faça o login para ter acesso</a></div>
                                     {% endif %}
                                  </div>
                            </div>
                         </div>
                      {% endfor %}
                 
                   </div>
                </div>
             </div>
          </div>
          </div>
       </div>
    </div>
  <!-- Home section end -->

  <!--====MODAL VIEW PRODUCT===-->
{% for product in product_filter.qs %}
   <div class="modal fade" id="modal-product-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Produto: <strong class="text-warning">{{product.product_title}}</strong></h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_price_product' product.id %}" method="post" enctype="multipart/form-data">{% csrf_token %} 
               <div class="modal-body">
                  <div class="container"> 
                     <div class="box_main mb-0">
                        <div class="col-sm-12">
                           {% if product.image_product %}
                                 <div class="electronic_img" center>
                                    <img src="{{ product.image_product.url }}" class="mb-0">
                                 </div>
                           {% else %}
                              <div class="electronic_img mb-0">
                                 <img src="{% static 'images/not-image.gif' %}">
                              </div>
                           {% endif %}
                        </div>
                        <div class="col-sm-12">
                           {{product.description}}
                        </div>
                     </div>

                     <div class="col-sm-12">
                        <input type="hidden" name="product" class="form-control" value="{{product.id}}">
                        <input type="hidden" name="vendor" class="form-control" value="{{request.user}}">
                        <label for="value">Valor R$</label>
                        <input type="text" name="price_product" class="form-control" id="value">
                     </div>
                  </div>
                  
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Adicionar valor</button>
               </div>
            </form>
         </div>
      </div>
   </div>

   <!--===MODAL EDIT PRODUCT===-->
   
<!-- Modal -->
<div class="modal fade" id="modal-product-edit-{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Editar produto</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="modal-body">
               <div class="row">
       
                   <div class="col-md-4">
                       <label for="categoria" class="form-label">Categoria</label>
                       <select name="category" class="form-select" aria-label="Default select example" id="categoria">
                           {% for cate in category %}
                               <option value="{{cate.id}}">{{cate}}</option>
                           {% endfor %}
                       </select>
                   </div>
                   
                   <div class="col-md-8">
                       <label for="product_title" class="form-label">Produto</label>
                       <input type="text" name="product_title" value="{{product.product_title}}" class="form-control" id="product_title" placeholder="Nome do produto">
                   </div>
                   <div class="col-md-12 mb-2">
                       <label for="description" class="form-label">Descrição</label>
                       <textarea  type="text" rows="3"  name="description" class="form-control" id="description" placeholder="Descrição do produto">
                        {{product.description}}
                       </textarea>
                   </div>
                   <div class="col-md-12 ">
                       <div class="form-check">
                        {% if product.is_available == True %}
                        <input class="form-check-input" type="checkbox" name="is_available" id="flexCheckDefault" checked>
                           <label class="form-check-label text-success" for="flexCheckChecked">
                              Produto ativado
                           </label>
                        {% else %}
                        <input class="form-check-input" type="checkbox" name="is_available" id="flexCheckDefault">
                           <label class="form-check-label text-danger" for="flexCheckDefault">
                              Produto desativado
                           </label>
                        {% endif %}
                      </div>
                   </div>
                   <div class="col-sm-3 col-md-12 pt-2">
                       <div class="mb-2">
                           <label for="formFile" class="form-label">Adicionar imagem</label>
                           <input class="form-control" name="image_product" type="file" id="formFile" onchange="preview()">
                       </div>
                       <img id="frame" src="{{product.image_product.url}}" class="img-fluid" width="200px" />
                   </div>
               </div>
           </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                   <button type="submit" class="btn btn-primary">salvar</button>
               </div>
           </form>
       </div>
   </div>
</div>

   
<script>
   function preview() {
       frame.src = URL.createObjectURL(event.target.files[0]);
   }
   function clearImage() {
       document.getElementById('formFile').value = null;
       frame.src = "";
   }
</script>
   
{% endfor %}
 
{% endblock body %}
