{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block body %}

<!--=====INCLUDE HEADER=====-->
{% include 'includes/header.html' %}

<style>
   .electronic_img{
      max-height: 200px;
      max-width: 300px;
   }
   .btn_main{
      margin-top: -150px;
   }
</style>

<!-- Home section start -->
<div class="fashion_section">
   <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="fashion_taital">Produtos</h1>
               <div id="fashion_section_2" class="fashion_section_2">
                  <div class="row">
                     {% for product in product_filter.qs %}
                        <div class="col-lg-3 col-sm-3">
                           <div  class="box_main">
                                 <h4 class="shirt_text">{{ product.product_title }}</h4>
                                 {% if product.image_product %}
                                    <div class="electronic_img"><img src="{{ product.image_product.url }}"></div>
                                 {% else %}
                                    <div class="electronic_img"><img src="{% static 'images/not-image.gif' %}"></div>
                                 {% endif %}
                                    <div class="btn_main">
                                    {% if request.user.is_authenticated %}
                                       <div class="buy_bt"><a href="#">Forncedores</a></div>
                                       {% if request.user.is_superuser and request.user.role == user_suppliers_access or adm_sistem_access %}
                                             <div class="seemore_bt">
                                                <buttom href="" class="btn btn-primary btn-sm" hx-get="{% url 'edit_product' product.pk %}" 
                                                hx-target="#dialog" data-bs-toggle="modal" data-bs-target="#modal">Editar</buttom>
                                             </div>
                                       {% endif %}
                                    {% else %}
                                    <div class="buy_bt"><a href="{% url 'login' %}">Faça o login para ter acesso</a></div>
                                    {% endif %}
                                 </div>
                           </div>
                        </div>
                     {% endfor %}
                     <!--
                        <div class="row" hx-trigger="load, UserListChanged from:body" hx-get="{% url 'product_list' %}" hx-target="this">
                          <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                      </div>
                      -->
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>
 <!-- Home section end -->

 {% include 'products/includes/modal-product.html' %}

 <!-- Empty toast to show the message -->
<div class="toast-container position-fixed top-1 end-0 p-3">
   <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
     <div class="d-flex">
       <div id="toast-body" class="toast-body"></div>
         <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
     </div>
   </div>
 </div>

{% endblock body %}