
{% if messages %}
    {% for message in messages %}
    <div id="message_alert" aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            <div class="toast col-md-12 alert alert-{{message.tags}} text-white bg-{{message.tags}} alert-dismissible fade show"  role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                <strong>{{message}}</strong>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            if ($('#message_alert').length) {
                setTimeout(() => {
                    $('#message_alert').hide('slideUp')
                    setTimeout(() => {
                        $('#message_alert').remove()
                    }, 500)
                }, 3500)
            }
        })
    </script>

    {% endfor %}

{% endif %}


