{% load static %}

<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
       <div class="footer_logo"><a href="{% url 'home' %}"><h2 class="banner_taital">TK GLobal</h2></a></div>
       <div class="input_bt">
          <input type="text" class="mail_bt" placeholder="Seu E-mail" name="email">
          <span class="subscribe_bt" id="basic-addon2"><a href="#">SE INSCREVER</a></span>
       </div>
       <div class="footer_menu">
          <ul>
             <li><a href="#">Mais produrados</a></li>
             <li><a href="#">Ideias de presentes</a></li>
             <li><a href="#">Novos Fornecedores</a></li>
             <li><a href="#">Menor preço</a></li>
             <li><a href="#">Atendimento ao Cliente</a></li>
          </ul>
       </div>
       <div class="location_main">Número de contato : <a href="#">+55 (74) 98119-9190</a></div>
    </div>
 </div>
 <!-- footer section end -->