{% load static %}

<div class="modal fade" id="registeruser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'registerUser' %}" method="post"> {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="col-form-label">Nome:</label>
              <input type="name" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="username" class="col-form-label">Usuário:</label>
                <input type="username" name="username" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="email" class="col-form-label">E-mail:</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Senha:</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="col-form-label">Confirmar Senha:</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>