
<!-- header top section start -->
<div class="container">
   <div class="header_section_top">
      <div class="row">
         <div class="col-sm-12">
            <div class="custom_menu">
               <ul>
               <li><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'product_list' %}">Produtos</a></li>
               <li><a href="{% url 'registerVendor' %}">Novo Fornecedor</a></li>
               <li><a href="{% url 'registerUser' %}">Novo usuário</a></li>
            {% if request.user.is_authenticated %}
               <li><a href="{% url 'myAccount' %}">Perfil</a></li>
            {% endif %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>