{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>

    {% block head %}{% endblock head %}
    {% include 'includes/scripts-head.html' %}

    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    
    <title>Imobi {% block title %}{% endblock title %}</title>

    </head>
        
    <body>
        
        <!--=====MODAL ADD PRODUCT=====-->
        {% include 'products/includes/modal-add-product.html' %}

        <!--=====NAVBAR=====-->
        {% include 'includes/navbar.html' %}

        <!--=====BLOCK BODY/MENU=====-->
        {% block body %}{% endblock body %}

        <!--=====INCLUDE JAVASCRIPT=====-->
        {% include 'includes/alerts.html' %}
        
        <!--=====FOOTER=====-->
        {% include 'includes/footer.html' %}

        <!--=====BLOCK JAVASCRIPT=====-->
        {% block js %}{% endblock js %}

        <!--=====INCLUDE JAVASCRIPT=====-->
        {% include 'includes/scripts-js.html' %}
        
    </body>
</html>