{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    {% include 'includes/scripts-head.html' %}

    {% block head %}{% endblock head %}

    <title>Imobi {% block title %}{% endblock title %}</title>

    </head>
        
    <body class="banner_bg_main">
        <div class="banner_bg_main">
            <!--=====NAVBAR=====-->
            {% include 'includes/navbar.html' %}

            <!--=====INCLUDE JAVASCRIPT=====-->
            {% include 'includes/alerts.html' %}
        
            <!--=====INCLUDE HEADER=====-->
            {% include 'includes/header.html' %}
        </div>
        <!--=====BLOCK BODY/MENU=====-->
        {% block body %}{% endblock body %}

        
        <!--=====FOOTER=====-->
        {% include 'includes/footer.html' %}

        <!--=====MODALS PRODUCT=====-->
        {% include 'products/includes/modal-add-product.html' %}
        {% include 'products/includes/modal-delete.html' %}
        {% include 'products/includes/modal-add-category.html' %}

        <!--=====INCLUDE JAVASCRIPT=====-->
        {% include 'includes/scripts-js.html' %}

        <!--=====BLOCK JAVASCRIPT=====-->
        {% block js %}{% endblock js %}

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        </script>
    
    </body>
</html>