{% load widget_tweaks %}

<!-- Placeholder for the modal -->
<div id="modal-category" class="modal fade" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'add_category' %}" method="post"  class="modal-content"> {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Adicionar nova categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="category_name" class="form-label">Categoria</label>
                        <input type="text" name="category_name" class="form-control" id="category_name" placeholder="Nome do produto">
                    </div>
                    <div class="col-md-12">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea type="text" rows="3" name="description" class="form-control" id="description" placeholder="Nome do produto"></textarea>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
        </form>
    </div>
</div>
  
