{% load widget_tweaks %}

<!-- Modal -->
<div id="#modal-product-edit-{{product.id}}" class="modal fade" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar produto:  <strong>{{product.product_title}}</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
            
                        <div class="col-md-4">
                            <label for="categoria" class="form-label">Categoria</label>
                            <select name="category" class="form-select" aria-label="Default select example" id="categoria">
                                {% for cate in category %}
                                    <option value="{{cate.id}}">{{cate}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-8">
                            <label for="product_title" class="form-label">Produto</label>
                            <input type="text" name="product_title" class="form-control" id="product_title" placeholder="Nome do produto">
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="description" class="form-label">Descrição</label>
                            <textarea  type="text" rows="3" name="description" class="form-control" id="description" placeholder="Descrição do produto"></textarea>
                        </div>
                        <div class="col-md-12 ">
                            <div class="px-4">
                                <input class="form-check-input" type="checkbox" name="is_available" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Produto ativo
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-12 pt-2">
                            <div class="mb-2">
                                <label for="image_product" class="form-label">Adicionar imagem</label>
                                <input class="form-control" name="image_product" type="file" id="image_product" onchange="preview()">
                            </div>
                            <img id="frame" src="" class="img-fluid" width="200px" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

    
<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>
    

    
    